<button mat-stroked-button color="accent" (click)="switchToCardView()" *ngIf="isTableView" class="theme-btn">Вид в виде карточек</button>
<button mat-stroked-button color="accent" (click)="switchToTableView()" *ngIf="isCardView" class="theme-btn">Вид в виде таблицы</button>
<div class="books-list" *ngIf="isCardView">
    <mat-card *ngFor="let book of books" class="book-card">
        <div class="img__block">
            <img [src]="book.image" alt="{{ book.title }}" class="cover"/>
        </div>
        <mat-card-content class="content" (click)="titleClick(book.isbn13)">
            <mat-card-title>{{ book.title }}</mat-card-title>
            <mat-card-subtitle>{{ book.subtitle }}</mat-card-subtitle>
            <p>Артикул: {{ book.isbn13 }}</p>
            <p>Цена: {{ book.price }}</p>
        </mat-card-content>
        <mat-card-actions class="btns">
            <app-cart-button [book]="book"></app-cart-button>
        </mat-card-actions>
    </mat-card>
</div>
<div class="books-table" *ngIf="isTableView">
    <div class="row" *ngFor="let book of books">
        <div class="left-col" (click)="titleClick(book.isbn13)">
            <div class="cover-col">
                <img [src]="book.image" alt="{{ book.title }}" class="cover"/>
            </div>
            <div class="title-col">
                {{ book.title }}
            </div>
            <div class="subtitle-col">
                {{ book.subtitle }}
            </div>
        </div>
        <div class="right-col">
            <div class="price-col">Цена: {{ book.price }}</div>
            <div class="btns-col">
                <app-cart-button [book]="book"></app-cart-button>
            </div>
        </div>
    </div>
</div>
