@import '/src/styles.scss';

.books-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
}

.book-card {
    max-width: 300px;
    width: 100%;
    background-color: $BackgroundColor;
}

.img__block {
    width: 100%;
    height: 300px;
}

.cover {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.content {
    background-color: $BackgroundColor;
    cursor: pointer;
}

.btns {
    margin-top: auto;
}