@import '/src/styles.scss';

.header {
    background-color: $BackgroundColor;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.username {
    margin-right: 20px;
}