.login__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.login__card {
    max-width: 400px;
    width: 100%;
}

.login__field {
    width: 100%;
}

.showUserExistsMessage {
    color: green;
}

.wrongPasswordMessageVisible {
    color: rgb(209, 47, 47);
}

.btn {
    margin-bottom: 10px;
}

.btn button {
    width: 100%;
}