.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
}

.search-form {
    width: 500px;
    // background-color: rgb(248, 251, 255);
}

.sort {
    display: flex;
    gap: 40px;
}